/SpacialPrisonerDilemma/SpacialPrisonerDilemma/bin
/
/SpacialPrisonerDilemma/SpacialPrisonerDilemma/obj/
/Docs/TeX/*.aux
/Docs/TeX/SzablonDyplomowy.log
/Docs/TeX/SzablonDyplomowy.pdf
/Docs/TeX/SzablonDyplomowy.synctex.gz
/Docs/TeX/SzablonDyplomowy.aux
